@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Sud";
  src: url("./assets/font/Sud.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="color"] {
    -webkit-appearance: none;
    border: none;
    overflow: hidden;
  }
  input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
  }
  input[type="color"]::-webkit-color-swatch {
    border: none;
  }

  body {
    overflow: hidden;
  }
}

.dotted {
  background-image: radial-gradient(rgba(0 0 0 / 0.35) 1px, transparent 0);
  background-size: 25px 25px;
}

.dotted-dark {
  background-image: radial-gradient(rgba(255 255 255 / 0.2) 1px, transparent 0);
  background-size: 25px 25px;
}
